@import "./base.less";
@import "./links.less";
@import "./navigation.less";
@import "./fonts.less";
@import "./article.less";
@import "./characterCreation.less";
@import "./carousel.less";
@import "./toolTip.less";
@import "./paneledOptions.less";
@import "./footer.less";
@import "./modal.less";
@import "./wizard.less";

.icon {
    aspect-ratio: 1;
    max-height: 1.5em;
    transition: transform 0.3s ease-in-out;
}

.button-icon {
    aspect-ratio: 1;
    max-height: 1.5em;
    transition: transform 0.3s ease-in-out;
}

.button-link {
    display: flex;
    align-content: center;
    justify-content: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
